
/*h1,h2,h3,h4,h5,h6,p {*/
/*  font-family: monospace;*/
/*  margin: 0.10em;*/
/*  padding: 0.10em;*/
/*}*/

html {
//min-height: 100vh;
}

body {
    background-color: #3a3a3a;
    color: #dddddd;
    max-height: 100vh;
    max-width: 100vw;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    margin: 0;
    grid-template-rows: 29px 1fr 10px;
    overflow: hidden;
}

header {
    grid-area: header;
    height: 29px;
    background-color: #1e1e1e;
    padding: 5px 0;
}

main {
    grid-area: main;
    display: grid;
    max-height: 100%;
    overflow: hidden;
}
.main-both {
    grid-template-areas: "menu labels articles";
    grid-template-columns: 32px 1fr max-content;
}
.main-overview {
    grid-template-areas: "menu labels";
    grid-template-columns: 32px 1fr;
}
.main-details {
    grid-template-areas: "menu articles";
    grid-template-columns: 32px 1fr;
}

footer {
    grid-area: footer;
    background-color: black;
    height: 10px;
}

#toolbar {
    grid-area: menu;
    background-color: #000000;
    //width: 36px;
}

#label-tab h1, #label-tab h2, #label-tab h3, #label-tab h4, #label-tab h5, #label-tab h6, #label-tab p {
    margin: 0.5rem 1rem;
    padding: 0;
    font-family: sans-serif;
    width: fit-content;
}

#label-tab {
    grid-area: labels;
    background-color: #333333;
    font-family: sans-serif;
    flex-direction: column;
    gap: 0;
    margin: 0;
    overflow-y: scroll;
    height: 100%;
}

.label-tab-text {
    background-color: rgba(0, 0, 0, 15%);
    padding: 0.25rem 0.5rem;
    display: inline-block;
}

#labels-hierarchy {
//background: repeating-linear-gradient(135deg, #333333, #333333 30px, #3a3a3a 30px, #3a3a3a 60px);
//border: 2px #292929 solid;
//border: 2px #222222 SOLID;

}

#label-tab > p, #label-tab > h1, #label-tab > h2, #label-tab > h3, #label-tab > h4, #label-tab > h5, #label-tab > h6 {
    //background-color: rgba(0, 0, 0, 15%);
    margin: 0.5rem;
    //padding: 0.25rem 0.5rem;
    width: fit-content;
    //border-left: 2px solid rgba(0, 0, 0, 15%);
}

.labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    align-items: center;
    padding: 0.25rem 0.5rem;
    margin: 0.5rem;
    background-color: rgba(0, 0, 0, 15%);
    width: fit-content;
    //border-left: 2px solid rgba(0, 0, 0, 15%);
}

.label {
//display: inline block;
//border: 2px #1c1c1c solid;
//border: 2px green solid;
//background: linear-gradient(0deg, rgba(55,149,45,1) 0%, rgba(0,0,0,0) 100%);
    background-color: #111111;
    margin: 0.25em;
    display: inline grid;
    grid-template-areas: "checkbox header";
    grid-gap: 1px;
    font-family: "Liberation Serif", serif;
    font-size: 12px;
    border: 1px solid #222222;
//border-left: 1px solid #111111;
//border-right: 1px solid #111111;
//border-top: 1px solid #111111;
    cursor: pointer;
    position: relative;
}

.label:hover {
    border: 1px solid #555555;
}

.label > .header {
    grid-area: header;
    height: 19px;
    //background-color: #353535;
    display: flex;
    align-items: center;
    font-family: "Liberation Sans", serif;
    font-size: 12px;
    font-weight: bold;
//background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,255,0,25%) 100%);
}

.label > .cind {
    position: absolute;
    background-image: url("cind.png");
    filter: opacity(50%);
    width: 8px;
    height: 8px;
    right: 0;
    top: 0;
}

.label > .progress {
    grid-area: checkbox;
    height: 19px;
    width: 19px;
}

.label-title {
    margin-left: 4px;
    margin-right: 4px;
}

#label-view-button {
    background-image: url("button-overview-w.png");
}
#both-view-button {
    background-image: url("button-both-w.png");
}
#article-view-button {
    background-image: url("button-details-w.png");
}

.progress {
    //background-color: #4a4a4a;
    background-color: #404040;
    font-weight: bolder;
    font-size: 15px;
    user-select: none;
    display: flow;
    text-align: center;
    //filter: saturate(0%) brightness(80%);
}

.progress-completed {
    background-color: #9c9b48;
}

.statement > .header {
    background-color: #717107;
}

.level1 {
    color: #34baf4;
    //background-image: url("pearl1.png");
    background-image: url("check.png");
    background-repeat: no-repeat;
    background-position: center;
    //filter: hue-rotate(30deg);
    //background-color: #b9b236;
    //filter: brightness(150%);
}

.level2 {
    color: #d89735;
    background-image: url("pearl2.png");
    background-repeat: no-repeat;
    background-position: center;
    filter: hue-rotate(30deg);
}

.level3 {
    color: #d89735;
    background-image: url("pearl3.png");
    background-repeat: no-repeat;
    background-position: center;
    filter: hue-rotate(30deg);
}

.level4 {
    color: #d89735;
    background-image: url("pearl4.png");
    background-repeat: no-repeat;
    background-position: center;
}

.level5 {
//background-color: #ffee00;
    background-image: url("check.png");
    background-repeat: no-repeat;
    background-position: center;
}

#article-tab {
    grid-area: articles;
//background-color: #505050;
    //background-color: #2c2c2c;
    background-color: #333333;
    padding: 0;
    overflow-y: scroll;
    height: 100%;
}

#articles {
    display: flex;
    flex-direction: column;
    padding: 0.25rem;
    //align-items: end;
    background-color: rgba(0, 0, 0, 15%);
    width: 90ch;
    max-width: 90ch;
    margin: 0.5rem 0.5rem;
    min-height: 95%;
    gap: 0.5rem;
}

.article {
    display: none;
    border: 2px solid #171717;
    margin: 0.25rem 0.5rem;
    background-color: #171717;
    grid-gap: 2px;
    min-width: fit-content;
    width: 1fr;
}
.article-open {
    grid-template-areas: "menu" "content";
}
.article-closed {
    grid-template-areas: "menu";
    border-bottom: 2px solid #171717;
}

.article > .menu {
    grid-area: menu;
    display: grid;
    flex-direction: row;
    justify-items: stretch;
    background-color: #171717;
    //border-bottom: 2px solid #171717;
    cursor: pointer;
    grid-template-areas: "progress title button";
    grid-template-columns: 19px 1fr 19px;
    grid-gap: 1px;
}

.article > .menu > .button {
    grid-area: button;
    width: 19px;
    height: 19px;
    user-select: none;
    background-image: url("close-button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.menu-title {
    grid-area: title;
    height: 19px;
//background-color: #703d3d;
    display: flex;
    align-items: center;
    font-family: "Liberation Sans", serif;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
//background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,255,0,25%) 100%);
}

.menu-progress-box {
    grid-area: progress;
    height: 19px;
    width: 19px;
}

.article > .content {
    background-color: #474747;
    grid-area: content;
    padding: 0.5em;
    grid-gap: 0.5em;
    display: grid;
}

.article > .content > p, .article > .content > h1, .article > .content > h2, .article > .content > h3, .article > .content > h4, .article > .content > h5, .article > .content > h6 {
    background-color: rgba(0, 0, 0, 20%);
    margin: 0.025rem;
    padding: 0.25rem 0.5rem;
    width: fit-content;
}

.article > .content > ol, .article > .content > ul {
    background-color: rgba(0, 0, 0, 20%);
    margin: 0.025rem;
    padding: 0.25rem 0.5rem;
    padding-left: 1.5rem;
    width: fit-content;
}

.article > .content > .header {
    display: flex;
    align-items: start;
    gap: 0.5em;
}

.progress-box {
    display: inline-block;
    min-height: 19px;
    min-width: 19px;
//border: 1px solid #303030;
    background-color: #606060;
    margin: 0;
    cursor: pointer;
}
.progress-box:hover {
    background-color: #989898;
}

.article > .content > .header > h1 {
    display: inline-block;
    background-color: #606060;
    margin: 0;
    min-height: 17px;
    font-size: 17px;
    padding: 0;
}

.article > .content > .header > h1:hover {
    background-color: #878787;
}

.article > header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: start;
    justify-content: start;
    align-content: flex-start;
    vertical-align: top;
    row-gap: 1px;
}

.opened-label {
    border: 1px solid #ffffff;
    filter: saturate(50%) brightness(125%);
}

.opened-label:hover {
    border: 1px solid #efefef;
}

.opened-article {
    display: grid;
}

#hover {
    background-color: #111111;
    position: absolute;
    display: none;
}

#progress-panel {
    background-color: #111111;
    border: 2px solid #000000;
    position: absolute;
    display: none;
    grid-template-areas: "selection" "log";
    color: #eeeeee;
    gap: 2px;
}

#progress-select {
    grid-area: selection;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #eeeeee;
}

#open-all-button {
    background-image: url("open-all.png");
    background-repeat: no-repeat;
    background-position: center;
}
#close-all-button {
    background-image: url("close-all.png");
    background-repeat: no-repeat;
    background-position: center;
}

.progress-level {
    height: 19px;
    cursor: pointer;
    user-select: none;
    display: grid;
    grid-template-areas: "image name";
    grid-template-columns: 19px 1fr;
    padding: 0 0.5em 0 0.25em;
    grid-gap: 0.5em;
}

.progress-level:nth-child(even) {
    background-color: #393939;
}
.progress-level:nth-child(odd) {
    background-color: #606060;
}
.progress-level:hover {
    background-color: #959595;
}

.progress-level > div:first-child {
    grid-area: image;
    width: 19px;
    height: 19px;
}
.progress-level > div:last-child {
    grid-area: name;
    height: 19px;
    display: flex;
    align-items: center;
    grid-gap: 0;
}

#progress-log {
    grid-area: log;
    font-family: monospace;
    font-size: 11px;
    color: darkgrey;
    background-color: #171717;
    gap: 1px;
    display: flex;
    flex-direction: column;
    user-select: none;
}

.progress-log-entry {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height: 15px;
    background-color: #1c1c1c;
    padding: 0 0.5rem;
}

.progress-log-icon {
    height: 15px;
    width: 15px;
}

.close-button {
    display: block;
    align-self: flex-end;
    text-align: end;
    cursor: pointer;
    background-color: #703d3d;
}
.close-button:hover {
    background-color: #8f5151;
}

.toolbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: start;
    gap: 2px;
    justify-content: left;
}

.toolbar-heading {
    margin: 0 0.5em;
    font-weight: bold;
    font-family: monospace;
    font-size: 19px;
}

.toolbar-button {
    height: 32px;
    width: 32px;
    background-color: #171717;
    cursor: pointer;
}
.toolbar-button:hover {
    background-color: #474747;
}
.toolbar-button:active {
    background-color: #676767;
}
.selected-mode {
    background-color: #5c5c5c;
}

.lowlighted-label {
    opacity: 20%;
}

.highlighted-label {
//border: #aeaeae solid 2px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.menubar-spacer {
    width: 10px;
    justify-content: center;
    display: flex;
    font-size: 24px;
    user-select: none;
}

.tooltip {
    display: none;
    background-color: black;
    padding: 0.5em;
    position: absolute;
    user-select: none;
    font-size: 13px;
    font-family: monospace;
    z-index: 10;
}

.context-panel {
    display: none;
}

.label-index {
    height: 100%;
    margin: 0;
    padding: 0 2px;
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 9px;
    font-family: sans-serif;
    line-height: 100%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: lighter;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.33);
    align-content: center;
}
.label-index > * {
    margin: 0;
    padding: 0;
}

/*!* Reduce MathJax margins. TODO: Fix in some other way? *!*/
/*mjx-container {*/
/*    margin: 0.25rem !important;*/
/*}*/
