<article id="article.{ARTICLE}" class="article {TYPE}-type" data-article="{ARTICLE}" data-class="{CLASS}" data-type="{TYPE}">
  <header>
    <hgroup>{NAMES}</hgroup>
    <menu>
      <button class="progress-box"><div class="progress"></div></button>
      <button class="class-button"></button>
      <a target="_blank" href="/classes/{CLASS}.html"></a>
      <button class="close-button"></button>
    </menu>
  </header>
  <div class="content">{CONTENT}</div>
  <footer class="links">{LINKS}</footer>
</article>
