<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{TITLE}</title>
  <script src="/assets/static/script.js"></script>
  <link rel="preload" href="/model.json" type="text/json">
  <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/styles/dark.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.10.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>
  <link rel="stylesheet" type="text/css" href="/assets/static/layout.css">
  <link rel="stylesheet" type="text/css" href="/model.css">
</head>
<body>
<header><a href="/">/</a>{NAV}<span>{TITLE}</span></header>
<main>{ARTICLES}</main>
</body>
</html>
